<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Profil de <%= @user.first_name %></h5>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <h6 class="card-subtitle mb-2 text-muted">Informations personnelles :</h6>
            <p><strong>Prénom :</strong> <%= @user.first_name %></p>
            <p><strong>Nom :</strong> <%= @user.last_name %></p>
            <p><strong>Email :</strong> <%= @user.email %></p>
            <p><strong>Description :</strong> <%= @user.description %></p>
          </div>
          <div class="mb-3">
            <h6 class="card-subtitle mb-2 text-muted">Événements créés :</h6>
            <% @user.events.each do |event| %>
              <p><%= link_to event.title, event_path(event) %></p>
            <% end %>
          </div>
          <% if current_user == @user %> <!-- Vérifier si l'utilisateur actuel est le même que le profil en cours -->
            <div class="mb-3">
              <%= link_to "Modifier l'email et le mot de passe", edit_user_registration_path, class: "btn btn-primary" %>
            </div>
            <!-- BONUS : Ajouter un lien pour éditer les autres informations de profil -->
            <div class="mb-3">
              <%= link_to "Éditer les informations de profil", edit_user_path(@user), class: "btn btn-secondary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
